<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
          <i class="fas fa-shopping-cart"></i> SlipKart
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}">
                  <i class="fas fa-home"></i> Home
              </a> 
              {% if user.is_authenticated %}
                <a class="nav-link" aria-current="page" href="#"><i class="fa fa-user"></i> {{request.user}}</a>
                <a class="nav-link" aria-current="page" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
                
              {% else %}
                <a class="nav-link" href="{% url 'register' %}">
                    <i class="fas fa-users"></i> Register
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="fa fa-sign-in"></i> Login
              </a>
              {% endif %}
              <a class="nav-link" href="{% url 'collection' %}">
                  <i class="fas fa-cubes"></i> Collection
              </a>
              <a class="nav-link" href="{% url 'cart' %}">
                  <i class="fas fa-shopping-cart"></i> Cart
              </a>
              <a class="nav-link" href="{% url 'favviewpage' %}">
                  <i class="fas fa-heart"></i> Favorites
              </a>
          </div>
      </div>
  </div>
</nav>



{% comment %} Use container for layouts where you want content to remain centered and adjust to common screen sizes (like a boxed layout).
Use container-fluid for layouts where you need content to span the full width of the screen (e.g., a full-width header or footer). {% endcomment %}

{% comment %} ms-auto Explanation:
Bootstrap Utility Class: ms-auto is a Bootstrap utility class where:
ms stands for margin-start (left in left-to-right languages like English).
auto automatically adjusts the margin, effectively pushing the element to the rightmost position within its container. {% endcomment %}