{% extends 'shop/layouts/main.html' %}
{% block title %}
  Cart | ShopKart
{% endblock title %}
{% block content %}
  
<section class="bg-light py-4 my-5" style="min-height:600px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">Favorite Items</h4>
        <hr style="border-color:#b8bfc2;">
        {% include 'shop/inc/message.html' %}
      </div>
      
      <table class='table table-bordered'>
          <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Unit</th>
                <th>Remove Item</th>
            </tr>
          </thead>
          <tbody id="cart-items">
            {% for item in fav %}
            <tr>
                <td>
                  <img src="{{ item.product.product_image.url }}" height="75px" alt="{{ item.product.name }}">
                </td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.selling_price }}</td>
                <td>
                  <a href="{% url 'remove_fav' item.id %}" onclick="return confirm('Are You Sure to Remove?')" class='btn btn-danger ' ><i class='fa fa-trash'></i>Remove</a> 
                </td>
            </tr>
            {% endfor %}         
      </table>
    </div>
  </div>
</section>
{% endblock content %}
